/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
figwheel_server.log
/dev-resources
/resources/public/js
/resources/public/css/*.css
/resources/public/css/*.css.map