
@font-face{
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: RobotoCondensed;
    src: url(fonts/RobotoCondensed-Light.ttf);
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

$blue0 : #34869D;
$overall-side-margin: 12em;
$overall-top-margin: 5em;

html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,th {
    font-family: 'RobotoCondensed', sans-serif;
}

.container {
    margin: $overall-top-margin $overall-side-margin;
}

#booking-input {
    position: absolute;
    width: $overall-side-margin;
    top: $overall-top-margin;
    left: 0;
    input{
        padding: 0;
        width: 100%;
        box-sizing:border-box;
    }
    button {
        padding: 0;
        width: 100%;
    }
}

.header {
    border-bottom: 1px solid grey;
    margin-bottom: 2em;
    .header-title {
        width: 5em;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.booking-table{
    table{
        display: table;
        width: 100%;
        .table-number{
            text-align: center;
        }
    }
}